<launch>
    <node name="nmpc" pkg="fw_ctrl" type="fw_nmpc"/>

    <!-- node parameters -->
    <param name="/nmpc/loop_rate" type="double" value="10.0" />                    <!-- iteration loop rate [Hz] -->
    <param name="/nmpc/time_step" type="double" value="0.1" />                     <!-- NMPC time step (node discretization) [s] -->
    <param name="/nmpc/viz/enable" type="int" value="1" />                         <!-- enable visualization in rviz (1: enabled, 0: disabled) -->
    <param name="/nmpc/enable_ghost" type="int" value="1" />                       <!-- run nmpc in background (1), or dont (0) -->
    <param name="/nmpc/mapping_with_ground_truth" type="int" value="1" />          <!-- mapping pipeline is being fed with simulation ground truth -->

    <!-- vehicle parameters -->
    <param name="/nmpc/veh/airsp_thres" type="double" value="4.0" />               <!-- airspeed measurement threshold [m/s] -->
    <param name="/nmpc/veh/airsp_min" type="double" value="13.5" />                <!-- airspeed minimum [m/s] -->
    <param name="/nmpc/veh/airsp_max" type="double" value="20.0" />                <!-- airspeed maximum [m/s] -->
    <param name="/nmpc/veh/flaps_lim" type="double" value="13.0" />                <!-- flap maximum actuation [deg] -->

    <!-- propeller parameters -->
    <param name="/nmpc/prop/n_0" type="double" value="2.3926" />                   <!-- prop speed at zero inflow and zero input [rps] -->
    <param name="/nmpc/prop/n_max" type="double" value="163.6667" />               <!-- maximum prop speed [rps] -->
    <param name="/nmpc/prop/n_delta" type="double" value="184.2153" />             <!-- slope of first order prop speed to throttle input (PX4) mapping approximation -->
    <param name="/nmpc/prop/vpmin" type="double" value="10.0" />                   <!-- minimum propeller inflow [m/s] -->
    <param name="/nmpc/prop/vpmax" type="double" value="25.0" />                   <!-- maximum propeller inflow [m/s] -->
    <param name="/nmpc/prop/n_T0_vmin" type="double" value="40.8964" />            <!-- zero-thrust prop speed at minimum airspeed [rps] -->
    <param name="/nmpc/prop/n_T0_vmax" type="double" value="102.6870" />           <!-- zero-thrust prop speed at maximum airspeed [rps] -->
    <param name="/nmpc/prop/epsilon_T" type="double" value="2.0" />                <!-- thrust incidence [deg] -->

    <!-- control-augmented model dynamics -->
    <param name="/nmpc/od/tau_phi" type="double" value="0.469" />                  <!-- control-augmented roll response time constant [s] -->
    <param name="/nmpc/od/tau_theta" type="double" value="0.315" />                <!-- control-augmented pitch response time constant [s] -->
    <param name="/nmpc/od/k_phi" type="double" value="1.19" />                     <!-- control-augmented roll response gain [s] -->
    <param name="/nmpc/od/k_theta" type="double" value="0.965" />                  <!-- control-augmented pitch response gain [s] -->
    <param name="/nmpc/od/tau_n" type="double" value="0.2" />                      <!-- propeller delay [s] -->

    <!-- objective inverse squared output scaling -->
    <param name="/nmpc/inv_y_scale_sq/vn" type="double" value="1e2" />             <!-- 1/0.1^2 -->
    <param name="/nmpc/inv_y_scale_sq/ve" type="double" value="1e2" />             <!-- 1/0.1^2 -->
    <param name="/nmpc/inv_y_scale_sq/vd" type="double" value="1e2" />             <!-- 1/0.1^2 -->
    <param name="/nmpc/inv_y_scale_sq/v" type="double" value="1.0" />              <!--  -->
    <param name="/nmpc/inv_y_scale_sq/phi" type="double" value="1.0" />            <!--  -->
    <param name="/nmpc/inv_y_scale_sq/theta" type="double" value="1.0" />          <!--  -->
    <param name="/nmpc/inv_y_scale_sq/soft_aoa" type="double" value="1.0" />       <!--  -->
    <param name="/nmpc/inv_y_scale_sq/soft_h" type="double" value="1.0" />         <!--  -->
    <param name="/nmpc/inv_y_scale_sq/soft_r" type="double" value="1.0" />         <!--  -->
    <param name="/nmpc/inv_y_scale_sq/u_T" type="double" value="1e2" />            <!-- 1/0.1^2 -->
    <param name="/nmpc/inv_y_scale_sq/phi_ref" type="double" value="3.2828e3" />   <!-- 1/deg2rad(1)^2 -->
    <param name="/nmpc/inv_y_scale_sq/theta_ref" type="double" value="3.2828e3" /> <!-- 1/deg2rad(1)^2 -->

    <!-- hard constraints -->
    <param name="/nmpc/lb/u_T" type="double" value="0.0" />                        <!-- throttle lower bound -->
    <param name="/nmpc/ub/u_T" type="double" value="1.0" />                        <!-- throttle upper bound -->

    <!-- path reference parameters XXX: this should not be here -->
    <param name="/nmpc/path/path_type" type="int" value="0" />                     <!-- path type, 0: const. alt. loiter; 1: line -->
    <param name="/nmpc/path/b_n" type="double" value="0.0" />                      <!-- path northing origin [m] -->
    <param name="/nmpc/path/b_e" type="double" value="0.0" />                      <!-- path easting origin [m] -->
    <param name="/nmpc/path/b_d" type="double" value="-50.0" />                    <!-- path down origin [m] -->
    <param name="/nmpc/path/Gamma_p" type="double" value="0.0" />                  <!-- path ground-relative flight path angle [deg] -->
    <param name="/nmpc/path/chi_p" type="double" value="100.0" />                  <!-- path course [deg] (when path_type=0, signed radius of loiter [m]) -->

    <!-- world parameters (ground truth simulation) -->
    <param name="/nmpc/sim/lat" type="double" value="47.31081" />                  <!-- world (hinwil) origin latitude [deg] -->
    <param name="/nmpc/sim/lon" type="double" value="8.81142" />                   <!-- world (hinwil) origin longitude [deg] -->
    <param name="/nmpc/sim/alt" type="double" value="581.9016" />                  <!-- world (hinwil) origin altitude (AMSL) [m] -->
</launch>
