<launch>
  <node name="nmpc" pkg="fw_ctrl" type="fw_nmpc"/>

  <param name="/nmpc/loop_rate" type="double" value="10.0" />
  <param name="/nmpc/time_step" type="double" value="0.1" />

  <param name="/nmpc/od/ddot_clmb" type="double" value="3.5" />
  <param name="/nmpc/od/ddot_sink" type="double" value="1.5" />
</launch>
