<launch>

  <arg name="file_name" value="/home/techpod/rosbags/nmpc" />

  <arg name="nmpc_topics" value="/nmpc/augm/intg_e_chi /nmpc/augm/intg_e_t /nmpc/augm/sw /nmpc/info/kkt /nmpc/info/obj /nmpc/info/tctrl /nmpc/info/tsolve" />   

  <arg name="mission_items" value="/mavros/waypoints /mavros/current_wp /mavros/home_wp" />

  <arg name="recorded_topics" value="$(arg nmpc_topics) $(arg mission_items)" />

  <node pkg="rosbag" type="record" name="record" args="-o $(arg file_name) $(arg recorded_topics)" />
</launch>
