<launch>

  <arg name="file_name" value="/home/asl/Documents/rosbags/nmpc" />

  <arg name="general_topics" value="/mavros/global_position/global /mavros/global_position/local /mavros/aslctrl/data /mavros/aslekf_extended /mavros/aslctrl/debug" />

  <arg name="nmpc_topics" value="/nmpc/controls /nmpc/info /nmpc/measurements /nmpc/objN_ref /nmpc/obj_ref /nmpc/online_data /nmpc/states" />

  <arg name="mission_items" value="/mavros/home_position" />

  <arg name="recorded_topics" value="$(arg general_topics) $(arg nmpc_topics) $(arg mission_items)" />

  <node pkg="rosbag" type="record" name="record" args="-o $(arg file_name) $(arg recorded_topics)" />
</launch>
